@import './normalize.scss';
@import './sassConfig.scss';

html,
body {
  height: 100%;
  user-select: none;
}

i[class^=icon] {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  background-color: $color-main;
  background-repeat: no-repeat;
}

.icon-help { background-image: url(~@/assets/images/icon/icon-help.png); }
.icon-search { background-image: url(~@/assets/images/icon/icon-search.png); }
.icon-location { background-image: url(~@/assets/images/icon/icon-location.png); }
.icon-user { background-image: url(~@/assets/images/icon/icon-user.png); }